:root {
    --main-website-color: #f4511e;
    --bubble-color: darkorange;
}

* {
    margin: 0;
    padding: 0;
}

p {
    font-size: 16px;
}

html {
    font-size: 24px;
    font-family: 'Lato';
}

body {
    background-color: orange;
}

nav {
    position: fixed;
    height: 100%;
    width: 65%;
}

nav::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}

nav>ul {
    width: 80%;
    display: inline-block;
    vertical-align: middle;
}

nav>ul>li {
    display: block;
    text-transform: uppercase;
    line-height: 2;
    font-size: 24px;
    padding-left: 30%;
}

nav>ul>li a {
    transition: 1s;
    -webkit-transition: 1s;
}

nav>ul>li a:hover {
    color: white;
    font-weight: bold;
    border-radius: .002px;
}

nav>ul>li a:hover::after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

nav>ul>li a {
    color: black;
}

.menu-icon {
    left: 1rem;
    top: 1rem;
    width: 1.5rem;
    height: .7rem;
    position: fixed;
    z-index: 2;
    cursor: pointer;
}

.menu-icon>span {
    display: block;
    background-color: white;
    height: 30%;
    margin-bottom: 20%;
}

.menu-icon>span:hover {
    -webkit-box-shadow: 10px 10px 52px -19px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 52px -19px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 52px -19px rgba(0, 0, 0, 0.75);
}

.container {
    position: fixed;
    margin-top: -70px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    color: #262626;
    padding-top: 70px;
    padding-left: 0px;
    padding-right: 0px;
    overflow: auto;
    overflow-x: hidden;
    -ms-overflow-x: hidden;
    width: 100%;
    transition: .2s ease;
    -webkit-transition: .2s ease;
}

.mainfeature {
    position: relative;
    color: white;
    padding: 110px 0px;
    width: 100%;
    z-index: 1;
    font-family: Montserrat, Arial;
    background: linear-gradient(-45deg, #f3744e, #da3373, #669eb3, #6cb9a7);
    background-size: 400% 400%;
    animation: main-container-background-animation 10s ease infinite;
    transition: 1s ease-in-out;
    transition-property: all;
    top: 10px;
}

@keyframes main-container-background-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.mainfeature-content {
    margin-right: auto;
    margin-left: auto;
    opacity: 1;
    width: 50%;
    animation: 0.5s ease-in-out 0s 1 slideinbottom;
}

.slide-in {
    animation: 0.7s ease-in-out 0s 1 slideinbottom;
}

@keyframes slideinbottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        transform: translateY(0);
    }
}

.hide-div {
    opacity: 0;
}

.container-content {
    margin-top: 40px;
    margin-bottom: 130px;
    padding-left: 30px;
    padding-right: 30px;
}

.section-content-header {
    padding-top: 90px;
    margin-top: 50px;
    padding-bottom: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    letter-spacing: 3px;
}

.about-me-header {
    margin-top: -110px !important;
}

#header-content {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-top: 0px;
    margin-bottom: -10px;
    background-color: var(--main-website-color);
    text-align: right;
    -webkit-box-shadow: 10px 23px 29px -18px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 10px 23px 29px -18px rgba(0, 0, 0, 0.49);
    box-shadow: 10px 23px 29px -18px rgba(0, 0, 0, 0.49);
}

.website_thumbs-style {
    margin-left: 0px;
}

.glyphicon {
    font-size: 40px;
    color: var(--main-website-color);
}

.projects-container {
    padding-bottom: 105px;
}

.myprojects-item-header {
    font-weight: bold;
}

.project-item {
    padding-top: 15px;
    display: flex;
}

@media (max-width: 750px) {
    .project-item {
        flex-wrap: wrap;
    }
}

.project-left-side {
    width: 65%;
    margin-right: 0px;
    margin-left: 0px;
}

.project-left-img {
    margin-top: 35px;
}

.project-left-buttons {
    margin-top: 45px;
}

.project-right-side {
    width: 25%;
    margin-right: 0px;
    margin-left: 0px;
}

.project-right-technology {
    margin-top: 25px;
}

.project-right-description {
    margin-top: 25px;
    text-align: left;
}

.projects-carousel {
    background-color: white;
    border-color: black;
    box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: var(--main-website-color);
    margin-top: -100px;
}

.carousel-indicators li {
    border-color: var(--main-website-color);
}

.carousel-indicators li.active {
    background-color: var(--main-website-color);
}

.projects-image {
    cursor: pointer;
    z-index: 55550 !important;
    transition: ease-in-out 0.3s;
}

.projects-image:hover {
    transform: scale(1.5, 1.5);
    z-index: 55550 !important;
    transition: ease-in-out 0.5s;
}

@media (min-width: 1131px) {
    #myProjects {
        height: 650px;
    }
}

@media (min-width: 950px) and (max-width: 1130px) {
    #myProjects {
        height: 800px;
    }
}

@media (min-width: 601px) and (max-width: 949px) {
    #myProjects {
        height: 780px;
    }
    .project-item {
        flex-wrap: wrap;
    }
    .project-right-side {
        width: 100%;
    }
    .project-left-side {
        width: 100%;
    }
}

@media (max-width: 600px) {
    #myProjects {
        height: 820px;
    }
    .project-item {
        flex-wrap: wrap;
    }
    .project-right-side {
        width: 100%;
    }
    .project-left-side {
        width: 100%;
    }
}

.slidepicture {
    margin-left: 0px;
}

/* Projects Image Popup */

.projects-image-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100000;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.3s ease-in-out;
    border-radius: 10px;
    box-shadow: 0px 6px 23px rgba(57, 56, 61, 0.355);
    background-color: white;
    width: auto;
    max-width: 1000px;
    height: auto;
    max-height: 800px;
}

.projects-image-popup.active {
    transform: translate(-50%, -50%) scale(1);
}

.projects-image-popup-title {
    padding: 10px 15px;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid darkgray;
    font-weight: bold;
    background: rgb(212, 77, 11);
    background: linear-gradient(90deg, rgba(212, 77, 11, 1) 54%, rgba(224, 153, 65, 1) 100%);
    color: white;
}

.image-popup-title-text {
    font-size: 20px;
    font-weight: bold;
}

.projects-image-popup-content {
    padding: 10px 15px;
}

.projects-image-popup-footer {
    padding: 10px 15px;
}

#projects-image-popup-outside-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.4);
}

#projects-image-popup-outside-bg.active {
    pointer-events: all;
    opacity: 1;
}

#projects-image-popup-img {
    width: 90%;
}

#projects-image-popup-close:hover {
    color: black;
}

/* Projects Image Popup END */

.container a {
    color: blue;
    text-decoration-style: none;
}

.container>p {
    padding-bottom: 1em;
}

.container>h4 {
    margin: 1em 0;
}

.list-group-item:hover {
    font-weight: bold;
    color: white;
    transition: 0.4s ease-in-out;
    background-color: var(--main-website-color);
}

.container-grey {
    background-color: #f0f0f0;
}

.about-me-content {
    margin-right: 40px;
    margin-left: 40px;
    float: left;
}

.carousel-slider-resize {
    margin-right: auto;
    margin-left: auto;
    max-width: 70%;
}

.btn-info {
    padding: 12px;
    background: rgb(224, 153, 65);
    background: linear-gradient(90deg, rgba(224, 153, 65, 1) 0%, rgba(212, 77, 11, 1) 100%);
    border-color: #bc5400;
    box-shadow: 0px 6px 23px rgba(57, 56, 61, 0.155);
}

.btn-info:hover {
    transition: ease-in 0.2s;
    background: #fff5db;
    color: black !important;
}

.contactbutton {
    border-radius: 4px;
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    min-width: 40px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    transform-origin: left;
}

.contactbutton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.contactbutton:hover {
    border: 1pt solid black;
    background-color: #ffebd1;
}

.contactbutton span:after {
    content: '\25BC';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.contactbutton:hover span {
    padding-right: 25px;
}

.contactbutton:hover span:after {
    opacity: 1;
    right: 0;
}

.btn-info span:hover, 
.btn-info ~ span:hover {
	color: black !important;
}
	
	

.contact-info-header {
    margin-bottom: 40px;
}

.contact-info-content {
    margin-bottom: 30px;
}

.contact-info-container {
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.glyphicon-projects {
    color: white;
    font-size: 13px;
    margin-right: 5px;
}

.glyphicon-projects-close {
    color: white;
    font-size: 17px;
    font-weight: bold;
    margin-right: 5px;
}

.glyphicon-projects-close:hover {
    color: black;
}

.glyphicon-customized {
    margin-right: 10px;
}

.glyphicon-customized:hover {
    color: black;
}

.website-footer-menu {
    margin-top: 150px;
    margin-bottom: -100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.website-footer-menu>div {
    margin: 15px;
}

.copyright-notice {
    margin-top: 150px;
}

.slider-img-custom-style {
    max-width: 75% !important;
    margin-right: auto;
    margin-left: auto;
}

.slider-img-custom-style-smaller {
    max-width: 35% !important;
    margin-right: auto;
    margin-left: auto;
}

.slider-img-custom-style-medium {
    max-width: 40% !important;
    margin-right: auto;
    margin-left: auto;
}

.slider-img-custom-style-large {
    max-width: 60% !important;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .column-border-styling {
        padding-right: 20px;
        margin-right: 40px;
        border-right: 2px solid #e0e0e0;
    }
}

@media screen and (orientation: portrait) {
    nav.active+.container {
        transform: translateX(56%) scale(0.8);
        box-shadow: 0 0 30px 5px rgba(38, 38, 38, 0.5);
    }
}

@media screen and (orientation: landscape) {
    nav.active+.container {
        transform: translateX(34%) scale(0.8);
        box-shadow: 0 0 30px 5px rgba(38, 38, 38, 0.5);
    }
}

@keyframes slide {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#codinglanguages {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.codinglanguagesitem {
    margin-right: 5px;
    margin-bottom: 15px;
    padding: 5px;
    z-index: 2;
    border: 2px solid orange;
    color: brown !important;
    text-decoration-style: none;
    box-shadow: 0px 6px 23px rgba(57, 56, 61, 0.155);
}

@media (max-width: 750px) {
    .project-right-technology {
        pointer-events: none;
    }
}